#line3 img {
  width: 30%;
  margin: 1.66%;
  float: left;
}
#line4 img {
  width: 22%;
  margin: 1.5%;
  float: left;
}
#line5 img {
  width: 17%;
  margin: 1.5%;
  float: left;
}

.clearfix {
  clear: both;
}
p {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 1.66%;
  border-bottom: 10px solid#1256e9;
  width: 27%;
  padding-bottom: 17px;
}
